# --- Cloud Sync / Temp Files ---
.tmp.driveupload/
.tmp.drivedownload/

# --- Python ---
# Byte-compiled files and cache
__pycache__/
*.pyc

# Virtual Environment
www/python/venv/

# --- Data Files ---
# "data" only has "word_counts.json" file and should be generated using "generate_stats.py" script
data/

# --- Build & Distribution ---
# Standard Python packaging artifacts
build/
dist/
*.egg-info/


# --- Testing ---
# Artifacts from testing tools like pytest and coverage.py
.pytest_cache/
.coverage
htmlcov/


# --- Environment Variables ---
# Ignore the local environment .env, but not .env.sample
.env


# --- IDE & Editor Config ---
.vscode/
.idea/


# --- Generated Project Files ---
# Output from scripts and logs
*.log


# --- OS-specific ---
.DS_Store
Thumbs.db